@model Shop.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">ตะกล้าสินค้า</h2>
<br />
@if (Model.Product.Count > 0)
{
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="container border border-secondary rounded" style="padding:15px;">
        <div class="row">
            <div class="col-8" style="border-right:1px solid #bbb9b9;">
                <table class="table table-striped" width="100%">
                    <tr class="table-info">
                        <th style="text-align:center; width:20%"></th>
                        <th style="text-align:center;">
                            <label asp-for="@Model.Product.FirstOrDefault().Description"></label>
                        </th>
                        <th style="text-align:center;">
                            <label asp-for="@Model.Product.FirstOrDefault().Title"></label>
                        </th>
                        <th style="text-align:center;">
                            <label asp-for="@Model.Product.FirstOrDefault().Price"></label>
                        </th>
                        <th style="text-align:center;">
                            <label asp-for="@Model.Product.FirstOrDefault().Type"></label>
                        </th>
                        <th style="text-align:center;"></th>
                    </tr>
                    @foreach (var item in Model.Product)
                    {
                        <tr style="padding:50px;">
                            <td>
                                @*<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="@item.ImageUrl" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                                    </a>*@
                                <img src="@item.ImageUrl" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />

                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Description)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Price)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Title)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Type)
                            </td>
                            <td style="text-align:center">
                                <a class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                @*<button class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>*@
                            </td>
                        </tr>

                    }
                </table>
            </div>
            <!--------------------------------->
            <partial name="~/Views/Shared/_AppointmentShoppingCart.cshtml" model="Model.Appointments" />

        </div>
    </div>



}
else
{
    <div>กรุณาเพิ่มไอเท็มลงตะกล้า</div>

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
